<!DOCTYPE html>
<html lang="rus" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:insert="~{Head}">
</head>
<body>
    <link th:insert="~{NavBar}">

        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">SURNAME</th>
                <th scope="col">EXAM</th>
                <th scope="col">MARK</th>
            </tr>
            </thead>
            <div th:each="student : ${students}">
            <tbody>
            <tr >
                <div th:if="${student.mark.equals('F')}">
                <th scope="row" th:text="${student.id}"></th>
                <td class="text-success font-weight-bold" th:text="${student.name}"></td>
                <td class="text-success font-weight-bold" th:text="${student.surname}"></td>
                <td class="text-success font-weight-bold" th:text="${student.exam}"></td>
                <td class="text-success font-weight-bold" th:text="${student.mark}"></td>
                </div>
                <div th:unless= "${student.mark.equals('F')}">
                    <th scope="row" th:text="${student.id}"></th>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.surname}"></td>
                    <td th:text="${student.exam}"></td>
                    <td th:text="${student.mark}"></td>
                </div>
                </tr>
            </tbody>
            </div>
        </table>
</body>
</html>